/* All styles for your header Components live here */

.header-container {
  display: flex;
  align-items: flex-start;
  font-size: 1.4rem;
  width: 100%;

  .header-thumb {
    width: 60px;
  }

  .header-main {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;

    .header-social,
    .header-timestamp {
      font-size: 1.2rem;
      color: grey;
    }
  }
}